@model IEnumerable<FamilyAuto.Models.Articles>

@{
    ViewBag.Title = "IMS";
}

<h2>IMS</h2>

<div class="row">
    <div class=col-md-4>
        <h4>Maintain Staff, Customers and Suppliers</h4>
        <div class="btn-group-vertical">
            @Html.ActionLink("Manage Staff", "Index", new { Controller = "Staff" }, new { @class = "btn btn-lg btn-primary" })
            @Html.ActionLink("Manage Customers", "Index", new { Controller = "User" }, new { @class = "btn btn-lg btn-success" })
            @Html.ActionLink("Manage Suppliers", "Index", new { Controller = "Supplier" }, new { @class = "btn btn-lg btn-info" })
        </div>
    </div>
    <div class=col-md-4>
        <h4>Maintain Services Ordered</h4>
        @Html.ActionLink("Manage Services Ordered", "Index", new { Controller = "ServiceOrder" }, new { @class = "btn btn-lg btn-primary" })
    </div>
    <div class=col-md-4>
        <h4>Vehicle overview</h4>
        @Html.ActionLink("Manage Vehicle Sales", "Index", new { Controller = "SoldVehicles" }, new { @class = "btn btn-lg btn-primary" })
    </div>
</div>
<br />
<br />
<hr />
@if (User.IsInRole("Admin"))
{
<div class="row">
    <div class="col-lg-4">
        @Html.ActionLink("Manage Roles", "RoleIndex", new { Controller = "Account" }, new { @class = "btn btn-lg btn-primary" })
    </div>
</div>
}     
<hr />

<br /><br /><br /><br />