@model FamilyAuto.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>

    @Html.ActionLink("My Profile", "Create", new { Controller = "User" }, new { @class = "btn btn-primary" })

    @if (Model.HasPassword)
            {
        @Html.ActionLink("Change password", "ChangePassword", new { Controller = "Manage" }, new { @class = "btn btn-primary" })
    }
    else
    {
        @Html.ActionLink("Create", "SetPassword")
    }
</div>
