@model FamilyAuto.Models.Vehicle

<script src="~/Scripts/jquery.bxslider.min.js"></script>
<link href="~/Content/jquery.bxslider.css" rel="stylesheet" />

@{
    ViewBag.Title = "Vehicle Details";
}

<h2>Vehicle Details</h2>


<div class="container">
    <div class="col-md-6">
        <h4>@Html.DisplayFor(model => model.Make), @Html.DisplayFor(model => model.Model)</h4>
        @if (User.Identity.IsAuthenticated & User.IsInRole("Admin"))
        {
            <p>
                @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
                @Html.ActionLink("Manage Page", "Index")
            </p>
        }
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Price)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Price) EUR
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Make)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Make)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Model)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Model)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Variant)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Variant)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Condition)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Condition)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Type)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Type)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DateUploaded)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DateUploaded)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>


        </dl>
    </div>
    <div class="col-md-6">
        <br /><br /><br /><br />
        <ul class="bxslider">
            @foreach (var item in Model.VehiclePictures)
            {
                if (item.VehicleID == ViewBag.VehicleID)
                {
                    <li>
                        <img src="@item.ImageURL" />
                    </li>
                }
            }
        </ul>
    </div>
</div>


<div class="container">
    <h4>Vehicle History</h4>
    <table class="table">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.VehicleHistory.Purpose)</th>
                <th>@Html.DisplayNameFor(model => model.VehicleHistory.NoOfOwners)</th>
                <th>@Html.DisplayNameFor(model => model.VehicleHistory.HUValidUntil)</th>
                <th>@Html.DisplayNameFor(model => model.VehicleHistory.Warranty)</th>
                <th>@Html.DisplayNameFor(model => model.VehicleHistory.Mileage)</th>
                <th>@Html.DisplayNameFor(model => model.VehicleHistory.FirstRegistration)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Html.DisplayFor(model => model.VehicleHistory.Purpose)</td>
                <td>@Html.DisplayFor(model => model.VehicleHistory.NoOfOwners)</td>
                <td>@Html.DisplayFor(model => model.VehicleHistory.HUValidUntil)</td>
                <td>@Html.CheckBoxFor(model => model.VehicleHistory.Warranty, new { @disabled = "disabled" }) </td>
                @*<td>@Html.DisplayFor(model => @Helpers.BooleanLabel(Convert.ToBoolean(model.VehicleHistory.Warranty)))</td>*@
                <td>@Html.DisplayFor(model => model.VehicleHistory.Mileage)</td>
                <td>@Html.DisplayFor(model => model.VehicleHistory.FirstRegistration)</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="container">
    <h4>Vehicle Engine</h4>
    <table class="table">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.VehicleEngine.FuelType)</th>
                <th>@Html.DisplayNameFor(model => model.VehicleEngine.Transmission)</th>
                <th>@Html.DisplayNameFor(model => model.VehicleEngine.CubicCapacity)</th>
                <th>@Html.DisplayNameFor(model => model.VehicleEngine.Power)</th>
                <th>@Html.DisplayNameFor(model => model.VehicleEngine.FuelConsumption)</th>
                <th>@Html.DisplayNameFor(model => model.VehicleEngine.EmissionClass)</th>
                <th>@Html.DisplayNameFor(model => model.VehicleEngine.EmissionSticker)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Html.DisplayFor(model => model.VehicleEngine.FuelType)</td>
                <td>@Html.DisplayFor(model => model.VehicleEngine.Transmission)</td>
                <td>@Html.DisplayFor(model => model.VehicleEngine.CubicCapacity)</td>
                <td>@Html.DisplayFor(model => model.VehicleEngine.Power)</td>
                <td>@Html.DisplayFor(model => model.VehicleEngine.FuelConsumption)</td>
                <td>@Html.DisplayFor(model => model.VehicleEngine.EmissionClass)</td>
                <td>@Html.DisplayFor(model => model.VehicleEngine.EmissionSticker)</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="container">
    <h4>Vehicle Features</h4>
    <table class="table">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.VehicleFeature.ExteriorColor)</th>
                <th>@Html.DisplayNameFor(model => model.VehicleFeature.InteriorColor)</th>
                <th>@Html.DisplayNameFor(model => model.VehicleFeature.AirConditioning)</th>
                <th>@Html.DisplayNameFor(model => model.VehicleFeature.InteriorFeatures)</th>
                <th>@Html.DisplayNameFor(model => model.VehicleFeature.Security)</th>
                <th>@Html.DisplayNameFor(model => model.VehicleFeature.Airbags)</th>
                <th>@Html.DisplayNameFor(model => model.VehicleFeature.ParkingSensor)</th>
                <th>@Html.DisplayNameFor(model => model.VehicleFeature.Sports)</th>
                <th>@Html.DisplayNameFor(model => model.VehicleFeature.InteriorMaterial)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Html.DisplayFor(model => model.VehicleFeature.ExteriorColor)</td>
                <td>@Html.DisplayFor(model => model.VehicleFeature.InteriorColor)</td>
                <td>@Html.DisplayFor(model => model.VehicleFeature.AirConditioning)</td>
                <td>@Html.DisplayFor(model => model.VehicleFeature.InteriorFeatures)</td>
                <td>@Html.DisplayFor(model => model.VehicleFeature.Security)</td>
                <td>@Html.DisplayFor(model => model.VehicleFeature.Airbags)</td>
                @*@if (Model.VehicleFeature.Airbags == true)
                { <td>YES</td>}
                else { <td>NO</td>}*@
                <td>@Html.DisplayFor(model => model.VehicleFeature.ParkingSensor)</td>
                <td>@Html.DisplayFor(model => model.VehicleFeature.Sports)</td>
                <td>@Html.DisplayFor(model => model.VehicleFeature.InteriorMaterial)</td>
            </tr>
        </tbody>
    </table>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        $('.bxslider').bxSlider({
            adaptiveHeight: true,
            mode: 'fade'
        })
    });
</script>