@model IEnumerable<FamilyAuto.Models.Vehicle>

@{
    ViewBag.Title = "Showroom";
}

<div class="page-header">
    <h1>Family Auto SHOWROOM</h1>
</div>

@if(ViewBag.VehicleNotFound != null)
{
    <h2>@ViewBag.VehicleNotFound</h2>
}
else { 
<div class="source-content" style="width: 75%; float: left">
    @foreach (var item in Model)
    {
        string sector = "vehicleId" + @Html.Raw(item.Id);
        <div class="container-fluid listItems">
            <div class="row" id=@sector>
                <div class="col-sm-3 item-list-spc">
                    @foreach (var i in item.VehiclePictures)
                    {
                        if (item.Id == i.VehicleID)
                        {
                            <a href="@Url.Action("Details", new { id = item.Id })" , id="@item.Id">
                                <img class="image-listview" src="@i.ImageURL" />
                            </a>
                            break;
                        }
                        else
                        {
                            <a href="@Url.Action("Details", new { id=item.Id })", id="@item.Id">
                                <img class="image-listview" src="~/Images/rcLrK4Gc8.jpg" />
                            </a>
                        }
                    }
                </div>
                <div class="col-sm-7 item-list-spc">
                    <div class="media-body">
                        <h4 class="media-heading">
                            @Html.ActionLink(item.Make, "Details", new { id = item.Id }, new { @Id = item.Make }) - <span id="vehiclePrice">@Html.DisplayFor(modelItem => item.Price)</span>€
                        </h4>
                        <p class="model">Model: <b id=@Html.Raw(item.Model)>@Html.DisplayFor(modelItem => item.Model)</b>, Variant: <b>@Html.DisplayFor(modelItem => item.Variant)</b>, Type: <b>@Html.DisplayFor(modelItem => item.Type)</b></p>
                        <p class="power">Power: <b>@Html.DisplayFor(modelItem => item.VehicleEngine.Power)KW</b></p>
                        <p class="color">Color: <b>@Html.DisplayFor(modelItem => item.VehicleFeature.ExteriorColor)</b></p>
                        <p class="mileage">Mileage: <b><span id="vehicleMileage">@Html.DisplayFor(modelItem => item.VehicleHistory.Mileage)</span>km</b></p>
                    </div>
                </div>


            </div>
        </div>
    }
</div>
}
<div class="filterStyle">
    <h3>FILTERS:</h3>
    <br />
    @Html.ActionLink("Show All", "Showroom")
    <br />

    <div class="dropdown">
        @using (Html.BeginForm("Showroom", "Vehicle", FormMethod.Get))
        {
            <h5>Type</h5>
            @Html.DropDownList("type", new SelectList(ViewBag.Type), "")
            <h5>Make</h5>
            @Html.DropDownList("make", new SelectList(ViewBag.Make), "", new { @onchange = "FillModel()" })
            <h5>Model</h5>
            @Html.DropDownList("model", new SelectList(Enumerable.Empty<SelectListItem>(), "Id", "Model"), "")
            <h5>Milleage</h5>
            @Html.DropDownList("mileage", new SelectList(ViewBag.Mileage), "")
            <h5>Price range</h5>
                @Html.TextBox("priceFrom", "From", new { @type = "number", @placeholder = "From" })
                @Html.TextBox("priceTo", "To", new { @type = "number", @placeholder = "To" })
                <br /><br />
                <input type="submit" value="Filter" class="btn-sm btn-default" />
        }
    </div>
</div>
<br style="clear: left;" />

@section Scripts {
    @*<script>
            function FillModel() {
                var makeId = $('#make').val();
                $.ajax({
                    url: '/Vehicle/FillModel',
                    type: "GET",
                    dataType: "JSON",
                    data: { Make: makeId },
                    success: function (models) {
                        $("#model").html("");
                        $.each(models, function (i, model) {
                            $("#model").append(
                                $('<option></option>').val(model.modelId).html(model.Model));
                        });
                    }
                });
            }
        </script>*@

    <script>
        function FillModel() {
            var make = $('#make').val();
            $.ajax({
                url: '/Vehicle/FillModel',
                type: "GET",
                dataType: "JSON",
                data: { make: make },
                success: function (models) {
                    $("#model").html(""); // clear before appending new list
                    $.each(models, function (i, model) {
                        $("#model").append(
                            $('<option></option>').val(model.Model).html(model.Model));
                    });
                }
            });
        }
    </script>
}