@model IEnumerable<FamilyAuto.Models.Vehicle>

@{
    ViewBag.Title = "Showroom";
}

<h2>Authenticated</h2>

<div class="page-header">
    <h1>SHOWROOM</h1>
</div>

<div class="source-content" style="width: 75%; float: left">
    @foreach (var item in Model)
    {

        <div class="container-fluid listItems">
            <div class="row">
                <div class="col-sm-3 item-list-spc">
                    @*<a href="#">
                            <img class="media-object" src="http://avatars.guildlaunch.net/user_files/3068351/user_avatar6409_mid.jpg" alt="Image of a Restaurant">
                        </a>*@
                    @*<a href="@Url.Action("Details")", new { id = item.Id }>
                            <img src="@Url.Content()"
                        </a>
                        @Html.Raw(@Html.ActionLink("Edit-link", "Edit", new { id = item.Id }).ToHtmlString().Replace("Edit-link", item.VehiclePictures. "<img src=\"/Contents/img/logo.png\" ... />"))*@
                    @foreach (var i in item.VehiclePictures)
                    {
                        if (item.Id == i.VehicleID)
                        {
                            <a href="@Url.Action("Details", new { id = item.Id })" , id="@item.Id">
                                <img class="image-listview" src="@i.ImageURL" />
                            </a>
                            break;
                        }
                        else
                        {
                            <a href="@Url.Action("Details")" , new { id=item.Id }>
                                <img class="image-listview" src="http://avatars.guildlaunch.net/user_files/3068351/user_avatar6409_mid.jpg" />
                            </a>
                        }
                    }
                </div>
                <div class="col-sm-7 item-list-spc">
                    <div class="media-body">
                        <h4 class="media-heading">

                            <asp:HyperLink ID="@item.Make" Text='@Html.DisplayFor(modelItem => item.Make)' Font-Bold="True" Font-Underline="True" />

                            @Html.ActionLink(item.Make, "Details", new { id = item.Id })
                        </h4>
                        <p class="address">Model: @Html.DisplayFor(modelItem => item.Model), Variant: @Html.DisplayFor(modelItem => item.Variant)</p>
                        <p class="power">@Html.DisplayFor(modelItem => item.VehicleEngine.Power)KW</p>
                        <p class="color">Color: @Html.DisplayFor(modelItem => item.VehicleFeature.ExteriorColor)</p>
                        <p class="mileage">Mileage: @Html.DisplayFor(modelItem => item.VehicleHistory.Mileage)</p>
                    </div>
                </div>


            </div>
        </div>
    }
    </div>

<div class="filterStyle">
    <h3>FILTERS:</h3>
    <br />
    <a href="#" class="showAll">Show All</a>
    <br />

    <h5>Vehicle Type</h5>
    <div class="dropdown">
        <label>
            <select>
                <option value="Sports Car">Sports Car</option>
                <option value="Small Car">Small Car</option>
                <option value="Sedan">Sedan</option>
                <option value="Van">Van</option>
                <option value="Luxury Car">Luxury Car</option>
            </select>
        </label>
    </div>
    
    <h5>Make</h5>
    <div class="dropdown">
        <label>
            <select>
                <option value="BMW">BMW</option>
                <option value="Nissan">Nissan</option>
                <option value="Opel">Opel</option>
                <option value="Volvo">Volvo</option>
                <option value="Volkswagen">Volkswagen</option>
            </select>
        </label>
    </div>

    <h5>Model</h5>
    <div class="dropdown">
            <select>
                <option value="Z1">Z1</option>
                <option value="Astra">Astra</option>
                <option value="Pathfinder">Pathfinder</option>
                <option value="S60">S60</option>
                <option value="Polo">Polo</option>
            </select>
    </div>

    <h5>Mileage (up to)</h5>
    <div class="dropdown">
        <select>
            <option value="50000">50000</option>
            <option value="100000">100000</option>
            <option value="200000">200000</option>
            <option value="300000">300000</option>
        </select>
    </div>

    <h5>Price range</h5>
    <div class="input-sm">
        <input type="number" /> From<br />
        <input type="number" /> To
    </div>

    @*<h4>Location</h4>
    <div class="radio">
        <label>
            <input type="radio" id="chkP1" name="location" value="Praha 1">Praha 1
        </label>
        <br />
        <label>
            <input type="radio" id="chkP2" name="location" value="Praha 2">Praha 2
        </label>
        <br />
        <label>
            <input type="radio" id="chkP3" name="location" value="Praha 3">Praha 3
        </label>
        <br />
        <label>
            <input type="radio" id="chkP4" name="location" value="Praha 4">Praha 4
        </label>
        <br />
        <label>
            <input type="radio" id="chkP5" name="location" value="Praha 5">Praha 5
        </label>
        <br />
        <label>
            <input type="radio" id="chkP6" name="location" value="Praha 6">Praha 6
        </label>
        <br />
        <label>
            <input type="radio" id="chkP7" name="location" value="Praha 7">Praha 7
        </label>
        <br />
        <label>
            <input type="radio" id="chkP8" name="location" value="Praha 8">Praha 8
        </label>
        <br />
        <label>
            <input type="radio" id="chkP9" name="location" value="Praha 9">Praha 9
        </label>
        <br />
        <label>
            <input type="radio" id="chkP10" name="location" value="Praha 10">Praha 10
        </label>
        <br />
    </div>
    <h4>Cuisine</h4>
    <div class="radio" id="cuisineFilter">
        <label>
            <input type="radio" id="chkMacedonian" name="cuisineType" value="Macedonian">Macedonian
        </label>
        <br />
        <label>
            <input type="radio" id="chkBalkan" name="cuisineType" value="Balkan">Balkan
        </label>
        <br />
        <label>
            <input type="radio" id="chkInternational" name="cuisineType" value="International">International
        </label>
        <br />
        <asp:Button ID="btnSourceTest" css="btnSourceTest" Text="Click me" OnClick="btnSourceTest_Click" Style="display: none" />
        <%--<asp:Label class="tester" style="display:none" Id="LabelTester" runat="server" Text="SELECT TOP 2 p.PictureURL AS Thumbnail, r.NameOfRestaurant, r.Address, r.TypeOfRestaurant, r.[Description], r.DateUploaded, r.Score FROM (SELECT RestaurantID, MAX(PictureID) AS pID From PicturesRestaurants Group by restaurantID) AS t1 JOIN Pictures p ON p.PictureID = t1.pID JOIN vRestaurantDetails r ON r.RestaurantID = t1.RestaurantID" ViewStateMode="Enabled"></asp:Label>--%>
        <%--<asp:Label class="tester" style="display:none" Id="LabelTester" runat="server" Text="Luka Lu" ViewStateMode="Enabled"></asp:Label>--%>
        <asp:TextBox class="tester" ID="TextTester" Text="" Style="display: none"></asp:TextBox>
    </div>
    <div class="btn-group-vertical btn-block sort-buttons" role="group" aria-label="...">
        <asp:Button class="btn btn-default" ID="btnSortRestaurants" Text="Lowest Rated" value="asc" OnClick="SortRestaurantOrder" />
        <asp:Button class="btn btn-primary" ID="btnSortRestaurantsComment" Text="Most Commented" value="desc" OnClick="SortRestaurantByComment" />
    </div>*@
</div>
<br style="clear: left;" />