@{
    ViewBag.Title = "RoleAddToUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <p>&nbsp;</p>
    @Html.ActionLink("Create New Role", "RoleCreate", new { Controller = "Account" }, new { @class = "btn btn-default" }) | @Html.ActionLink("Roles", "RoleIndex", new { Controller = "Account" }, new { @class = "btn btn-default" })
    <br />
    <br />
    <hr />
    <div class="message-success"><h3 id="returnMessage">@ViewBag.ResultMessage</h3></div>
    <div class="row">
        <div class="col-lg-4">
            <h4>List roles for user</h4>
            @using (Html.BeginForm("GetRoles", "Account"))
            {
                @Html.AntiForgeryToken()
                <p>
                    Username : @Html.DropDownList("UserName", ViewBag.Users as SelectList)
                </p>
                    <p>
                        <input type="submit" value="Get Roles for this User" class="btn btn-primary" />
                    </p>
            }

            @if (ViewBag.RolesForThisUser != null)
            {
                <text>
                    <h3>Roles for this user </h3>
                    <ol>
                        @foreach (string s in ViewBag.RolesForThisUser)
                {
                            <li>@s</li>
                        }
                    </ol>
                </text>
            }
        </div>
        <div class="col-lg-4">
            <h4>Add role to user</h4>
            @using (Html.BeginForm("RoleAddToUser", "Account"))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

                
                <p>
                    Username : @Html.DropDownList("UserName", ViewBag.Users as SelectList)
                </p>
                <p>
                    Role Name: @Html.DropDownList("RoleName", ViewBag.Roles as SelectList)
                </p>

                <input type="submit" value="Add user to selected role" class="btn btn-primary" />
            }
        </div>
        <div class="col-lg-4">
            <h4>Remove role from user</h4>
            @using (Html.BeginForm("DeleteRoleForUser", "Account"))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

                <p>
                    Username : @Html.DropDownList("UserName", ViewBag.Users as SelectList)
                </p>
                    <p>
                        Role Name: @Html.DropDownList("RoleName", ViewBag.Roles as SelectList)
                    </p>

                    <input type="submit" value="Delete this user from Role" class="btn btn-primary" />
            }
        </div>
    </div>
</div>