@model IEnumerable<FamilyAuto.Models.Articles>

@{
    ViewBag.Title = "Family Auto";
}

<div class="jumbotron jumboPic">
        <h1>Family Auto</h1>
        <br />
    <button class="btn btn-info btn-lg" data-toggle="collapse" data-target="#VehicleType">Choose Vehicle Type</button>
      <div class="container collapse" id="VehicleType">
        <div class="row"><br />
            <div class="col-lg-2">
                <a href="~/Vehicle/Showroom?type=AWD" class="thumbnail">
                    <img src="~/Images/TypeIcons/4wd.PNG" /> 4WD
                </a>
            </div>
            <div class="col-lg-2">
                <a href="~/Vehicle/Showroom?type=Commercial" class="thumbnail">
                    <img src="~/Images/TypeIcons/Commercial.PNG" /> Commercial
                </a>
            </div>
            <div class="col-lg-2">
                <a href="~/Vehicle/Showroom?type=Convertible" class="thumbnail">
                    <img src="~/Images/TypeIcons/Convertible.PNG" /> Convertible
                </a>
            </div>
            <div class="col-lg-2">
                <a href="~/Vehicle/Showroom?type=Coupe" class="thumbnail">
                    <img src="~/Images/TypeIcons/Coupe.PNG" /> Coupe
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2">
                <a href="~/Vehicle/Showroom?type=Hatchback" class="thumbnail">
                    <img src="~/Images/TypeIcons/Hatchback.PNG" /> Hatchback
                </a>
            </div>
            <div class="col-lg-2">
                <a href="~/Vehicle/Showroom?type=Hybrid" class="thumbnail">
                    <img src="~/Images/TypeIcons/Hybrid.PNG" /> Hybrid
                </a>
            </div>
            <div class="col-lg-2">
                <a href="~/Vehicle/Showroom?type=Luxury" class="thumbnail">
                    <img src="~/Images/TypeIcons/Luxury.PNG" /> Luxury
                </a>
            </div>
            <div class="col-lg-2">
                <a href="~/Vehicle/Showroom?type=Minivan" class="thumbnail">
                    <img src="~/Images/TypeIcons/Minivan.PNG" /> Minivan
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2">
                <a href="~/Vehicle/Showroom?type=Sedan" class="thumbnail">
                    <img src="~/Images/TypeIcons/Sedan.PNG" /> Sedan
                </a>
            </div>
            <div class="col-lg-2">
                <a href="~/Vehicle/Showroom?type=SUV" class="thumbnail">
                    <img src="~/Images/TypeIcons/SUV.PNG" /> SUV
                </a>
            </div>
            <div class="col-lg-2">
                <a href="~/Vehicle/Showroom?type=Truck" class="thumbnail">
                    <img src="~/Images/TypeIcons/Truck.PNG" /> Truck
                </a>
            </div>
            <div class="col-lg-2">
                <a href="~/Vehicle/Showroom?type=Wagon" class="thumbnail">
                    <img src="~/Images/TypeIcons/Wagon.PNG" /> Wagon
                </a>
            </div>
        </div>
        <br />
    </div>
    @Html.ActionLink("SHOWROOM", "Showroom", new { Controller = "Vehicle" }, new { @class = "btn btn-primary btn-lg", @id = "Showroom" })
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Showroom</h2>
        <p>
            Explore our vast selection of vehicles and choose the car in which you envision your future.
        </p>
        <p>@Html.ActionLink("SHOWROOM", "Showroom", new { Controller = "Vehicle" }, new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>Services</h2>
        <p>Have you checked your oil lately? When's the last time you had the axis alligned? Enter right here and we'll be happy to help.</p>
        <p>@Html.ActionLink("Services", "Services", new { Controller = "Home" }, new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>Contact</h2>
        <p>Give us a call or come visit us.</p>
        <p>@Html.ActionLink("Contact", "Contact", new { Controller = "Home" }, new { @class = "btn btn-default" })</p>
    </div>
</div>

<div class="row">
    <h2>@Html.ActionLink("NEWS", "News", new { Controller = "Home" })</h2>
    @foreach (var n in Model)
    {
        <div class="col-md-4">
            <p>Published on: <b>@Html.DisplayFor(item => n.DateUploaded)</b></p>
            <h4>@Html.DisplayFor(item => n.ArticleTitle)</h4>
            <p>@Html.DisplayFor(item => n.ArticleDescription)</p>
        </div>
    }
        </div>