@model IEnumerable<FamilyAuto.Models.Articles>

@{
    ViewBag.Title = "Family Auto";
}

<div class="jumbotron">
    <h1>Family Auto</h1>
    @Html.ActionLink("SHOWROOM", "Showroom", new { Controller = "Vehicle" }, new { @class = "btn btn-primary btn-lg" })
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Showroom</h2>
        <p>
            Explore our vast selection of vehicles and choose the car in which you envision your future.
        </p>
        <p>@Html.ActionLink("SHOWROOM", "Showroom", new { Controller = "Vehicle" }, new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>Services</h2>
        <p>Have you checked your oil lately? When's the last time you had the axis alligned? Enter right here and we'll be happy to help.</p>
        <p>@Html.ActionLink("Services", "Services", new { Controller = "Home" }, new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>Contact</h2>
        <p>Give us a call or come visit us.</p>
        <p>@Html.ActionLink("Contact", "Contact", new { Controller = "Home" }, new { @class = "btn btn-default" })</p>
    </div>
</div>

<div class="row">
    <h2>@Html.ActionLink("NEWS", "News", new { Controller = "Home" })</h2>
    @foreach (var n in Model)
    {
        <div class="col-md-4">
            <p>Published on: <b>@Html.DisplayFor(item => n.DateUploaded)</b></p>
            <h4>@Html.DisplayFor(item => n.ArticleTitle)</h4>
            <p>@Html.DisplayFor(item => n.ArticleDescription)</p>
        </div>
    }
        </div>