@model FamilyAuto.Models.Articles

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Articles</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ArticleTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArticleTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ArticleDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArticleDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ArticleType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArticleType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateUploaded)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateUploaded)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
