@model FamilyAuto.Models.ServiceOrder

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ServiceOrder</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Paid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Paid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderedOnDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderedOnDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DueDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DueDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeliveredDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeliveredDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Articles.ArticleTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Articles.ArticleTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customers.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customers.FirstName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
